{% extends 'main.html' %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block body %}
  {% spaceless %}
    <h2>Django template</h2>
    {% for i_post in post_list %}
      <img src="{{ i_post.picture.url }}" alt="{{ i_post.title }}" width="150">
      <strong>{{ i_post.title }}</strong>
      <p class="text-3xl font-bold underline">{{ i_post.annotation }}
        <span>test</span>
      </p>
      <small>{{ i_post.created_at }}</small>
      <hr>
      <span>{{ i_post.section.title }}</span>
      <hr>
      <a href="{{ i_post.get_absolute_url }}">Читать</a>
    {% endfor %}
  {% endspaceless %}
{% endblock body %}