<!doctype html>
<html lang="ru">
<head>

  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ static('css/output.css') }}">
  <title>
    {% block title %}
      Choco by Kira
    {% endblock title %}
  </title>
</head>
<body>
  <div class="">
    <div class="bg-rose-100">
      
    </div>
  </div>
  {% block body required %}
  {% endblock body %}
</body>
</html>